<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">GESTIONAR USUARIOS</li>

        {% if user.is_superuser %}
        <li>
            <a href="#">Administrar usuarios</a>
            <ul class="menu vertical">
              <li><a href="{% url 'users_app:users_all' %}">Ver usuarios</a></li>
              <li><a href="{% url 'users_app:crear' %}">Crear un usuario</a></li>              
            </ul>
          </li>
        {% endif %}

        <li><a href="{% url 'users_app:update' user.id %}">Actualizar Datos</a></li>
        <li><a href="{% url 'users_app:update_password' %}">Cambiar Contraseña</a></li>
        <li><a href="">Disponible</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar"></li>
        <li><a href="{% url 'users_app:logout' %}" class="button">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>