{% extends 'base.html' %}

{% load static %}

{% block title%}
Actualizar Datos
{% endblock title%}

{% block content %}
{% include "includes/header1.html" %}

    <h4>Usuario: {{user}}</h4>
    <h1 style="text-align:center; padding-top: 0%">Actualizar Información</h1>
    
    <form method="POST" style='padding-top: 0%; padding-left: 30%; padding-right: 30%' enctype="multipart/form-data">{% csrf_token %}
        {{form.as_p}}
        
        <div  style="text-align:center">
        <button class="submit success button">Actualizar</button>
        </div>
        
    </form>


{% endblock content %}